.Logo{
  display: grid;
  align-items: center;
  margin: 20px;
  text-align: left;
  column-gap: 5px;
  font-family: Fantasy;
  font-size: 40px;
}

.App-logo{
  width: 100px;
  height: auto;
}
/*.App-logo {*/
/*  height: 40vmin;*/
/*  pointer-events: none;*/
/*}*/

/*@media (prefers-reduced-motion: no-preference) {*/
/*  .App-logo {*/
/*    animation: App-logo-spin infinite 20s linear;*/
/*  }*/
/*}*/

/*!*z*!*/

/*@keyframes App-logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/
